<div class="span6 offset3">
  <h2>Backbone Devise</h2>
  <em>Sample Backbone.js and Devise authorization integration</em>
  <div id="unauthenticated-view-container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#login" data-toggle="tab" data-content="login">Login</a></li>
      <li><a href="#signup" data-toggle="tab" data-content="signup">Sign up</a></li>
      <li><a href="#retrieve-password" data-toggle="tab" data-content="retrievePassword">Retrieve password</a></li>
    </ul>
    <div class="tab-content" id="tab-content"></div>
  </div>
</div>
