<form id="login-form" class="form-horizontal">
  <fieldset>
    <div id="email_group" class="control-group">
      <label class="control-label" for="email">Email</label>
      <div class="controls">
        <input id="email" name="email" type="email" required="required" />
      </div>
    </div>
    <div id="password_group" class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input id="password" name="password" type="password" required="required" />
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" value="Login" class="btn btn-primary" />
    </div>
  </fieldset>
</form>
